{% extends '/admin/admin.html.twig' %}

{% block main %}
    <table class="table-striped text-center table-bordered">
        <thead>
            <tr>
                <th class="p-2">ID</th>
                <th class="p-2">Blogname</th>
                <th class="p-2">Rezepte</th>
                <th class="p-2">ohne Bild</th>
                <th class="p-2">Anteil</th>
                <th class="p-2">ohne Bilddatei</th>
                <th class="p-2">Anteil</th>
                <th class="p-2">Crawl erfolgreich</th>
            </tr>
        </thead>
        <tbody>
            {% for blog in blogs %}
                {%set percentageWithoutImage = ((blog.blog.recipes | length) > 0 ? (blog.blog.getRecipesWithoutImage() | length) / (blog.blog.getRecipes() | length) * 100 : 0) %}
                {%set percentageWithoutImageFile = ((blog.missingImageFileCount) > 0 ? (blog.missingImageFileCount) / (blog.blog.getRecipes() | length) * 100 : 0) %}
                <tr>
                    <td class="p-2 text-left">
                        {{blog.blog.id}}
                    </td>
                    <td class="p-2 text-left">
                        {{blog.blog.title}}
                    </td>
                    <td class="p-2 {{(blog.blog.getRecipes() | length) > 0 ? 'bg-success' : 'bg-danger'}}">
                        {{blog.blog.getRecipes() | length}}
                    </td>
                    <td class="p-2 {{percentageWithoutImage <= 10 ? 'bg-success' : 'bg-danger'}}">
                        {{blog.blog.getRecipesWithoutImage() | length}}
                    </td>
                    <td class="p-2 {{percentageWithoutImage <= 10 ? 'bg-success' : 'bg-danger'}}">
                        {{percentageWithoutImage | number_format(1, ',', '.')}} %
                    </td>
                    <td class="p-2 {{percentageWithoutImageFile <= 10 ? 'bg-success' : 'bg-danger'}}">
                        {{blog.missingImageFileCount}}
                    </td>
                    <td class="p-2 {{percentageWithoutImageFile <= 10 ? 'bg-success' : 'bg-danger'}}">
                        {{percentageWithoutImageFile | number_format(1, ',', '.')}} %
                    </td>
                    <td class="p-2 {{blog.crawlSuccess ? 'bg-success' : 'bg-danger'}}">
                        {{blog.blog.getLatestSuccessfulCrawl ? blog.blog.getLatestSuccessfulCrawl | date('d.m.Y') : '-'}}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}