{% extends '/admin/admin.html.twig' %}
{% import _self as macros %}

{% block main %}
    <h1 class="cursor-pointer" data-toggle="collapse" href="#activeBlogs">Aktive Blogs</h1>
    <div class="collapse show" id="activeBlogs">
        {{ macros.blogTable(blogs, currentOrder, true) }}
    </div>
    <h1 class="cursor-pointer" data-toggle="collapse" href="#inactiveBlogs">Inaktive Blogs</h1>
    <div class="collapse show" id="inactiveBlogs">
        {{ macros.blogTable(blogs, currentOrder, false) }}
    </div>
{% endblock %}



{% macro blogTable(blogs, currentOrder, activeStatus) %}
    <table class="table-striped text-center table-bordered">
        <thead>
            <tr>
                <th class="p-2">
                    <a href="{{path('blogList', {sortColumn: 'id', order: currentOrder is same as('desc') ? 'asc' : 'desc'})}}">
                        Id
                    </a>
                </th>
                <th class="p-2">
                    <a href="{{path('blogList', {sortColumn: 'title', order: currentOrder is same as('desc') ? 'asc' : 'desc'})}}">
                        Blogname
                    </a>
                </th>
                <th class="p-2">Feed</th>
                <th class="p-2">Blog</th>
                <th class="p-2">
                    <a href="{{path('blogList', {sortColumn: 'recipeCount', order: currentOrder is same as('desc') ? 'asc' : 'desc'})}}">
                        Rezepte
                    </a>
                </th>
                <th class="p-2">
                    <a href="{{path('blogList', {sortColumn: 'withoutImage', order: currentOrder is same as('desc') ? 'asc' : 'desc'})}}">
                        ohne Bild
                    </a>
                </th>
                <th class="p-2">
                    <a href="{{path('blogList', {sortColumn: 'withoutImagePercentage', order: currentOrder is same as('desc') ? 'asc' : 'desc'})}}">
                        Anteil
                    </a>
                </th>
                <th class="p-2">
                    <a href="{{path('blogList', {sortColumn: 'withoutImageFile', order: currentOrder is same as('desc') ? 'asc' : 'desc'})}}">
                        ohne Bilddatei
                    </a>
                </th>
                <th class="p-2">
                    <a href="{{path('blogList', {sortColumn: 'withoutImageFilePercentage', order: currentOrder is same as('desc') ? 'asc' : 'desc'})}}">
                        Anteil
                    </a>
                </th>
                <th class="p-2">
                    <a href="{{path('blogList', {sortColumn: 'crawlSuccess', order: currentOrder is same as('desc') ? 'asc' : 'desc'})}}">
                        Crawl erfolgreich
                    </a>
                </th>
                <th colspan="2">Aktionen</th>
            </tr>
        </thead>
        <tbody>
            {% for blog in blogs if blog.blog.enabled is same as(activeStatus) %}
                <tr>
                    <td class="p-2 text-left">
                        {{blog.blog.id}}
                    </td>
                    <td class="p-2 text-left">
                        {{blog.blog.title}}
                    </td>
                    <td class="p-2 text-left">
                        <a href="{{blog.blog.url}}" class="btn btn-primary" target="_blank">zum Blog</a>
                    </td>
                    <td class="p-2 text-left">
                        <a href="{{blog.blog.feed}}" class="btn btn-primary" target="_blank">zum Feed</a>
                    </td>
                    <td class="p-2 {{(blog.blog.getRecipes() | length) > 0 ? 'bg-success' : 'bg-danger'}}">
                        {{blog.blog.getRecipes() | length}}
                    </td>
                    <td class="p-2 {{blog.percentageWithoutImage <= 5 ? 'bg-success' : 'bg-danger'}}">
                        {{blog.blog.getRecipesWithoutImage() | length}}
                    </td>
                    <td class="p-2 {{blog.percentageWithoutImage <= 5 ? 'bg-success' : 'bg-danger'}}">
                        {{blog.percentageWithoutImage | number_format(1, ',', '.')}} %
                    </td>
                    <td class="p-2 {{blog.percentageWithoutImageFile <= 5 ? 'bg-success' : 'bg-danger'}}">
                        {{blog.missingImageFileCount}}
                    </td>
                    <td class="p-2 {{blog.percentageWithoutImageFile <= 5 ? 'bg-success' : 'bg-danger'}}">
                        {{blog.percentageWithoutImageFile | number_format(1, ',', '.')}} %
                    </td>
                    <td class="p-2 {{blog.crawlSuccess ? 'bg-success' : 'bg-danger'}}">
                        {{blog.blog.getLatestSuccessfulCrawl ? blog.blog.getLatestSuccessfulCrawl | date('d.m.Y m:h') : '-'}}
                    </td>
                    <td class="p-2">
                        <a class="btn btn-primary" href="{{path('crawlSingle', {id: blog.blog.id})}}" target="_blank">Crawl</a>
                    </td>
                    <td class="p-2">
                        <a class="btn btn-primary" href="{{path(blog.blog.enabled ? 'blogDisable' : 'blogEnable', {id: blog.blog.id})}}">{{blog.blog.enabled ? 'Deaktivieren' : 'Aktivieren'}}</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}