{% extends '/admin/admin.html.twig' %}

{% block main %}
    <h1 class="mb-3">Gemeldete Rezepte prüfen</h1>
    {% for recipe in recipes %}
        <div class="row">
            <div class="col-md-12 text-left">
                <div class="card flex-md-row mb-4 box-shadow h-md-250">
                    <div class="card-body">
                        <a href="//{{recipe.permalink}}" class="h2 h5 mb-4 d-block" target="_blank">{{recipe.title}}</a>
                        <a href="{{path('reportingsApprove', {approveRecipeId: recipe.id})}}" class="btn btn-primary">Meldung bestätigen</a>
                        <a href="{{path('reportingsDeny', {denyRecipeId: recipe.id})}}" class="btn btn-primary">Meldung entfernen</a>
                    </div>
                    <img src="/images/recipes/{{recipe.image}}.jpg" />
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
