{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                {{ render(controller('App\\Controller\\BlogController::letterSelection')) }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 text-center">
                <h1>{{pageTitle}}</h1>
            </div>
        </div>
        {% for blog in blogs %}
            <div class="row mb-4">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            {{blog["blog"].validRecipes | length}} Rezepte verfügbar
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{blog["blog"].url}}" target="_blank">{{blog["blog"].title}}</a>
                            </h5>
                            <p class="card-text">
                                {% for usedCategory in blog["usedCategories"] %}
                                    // <a href="{{path('blogWithCategory', {'blogSlug': blog["blog"].slug, 'categorySlug': usedCategory.slug})}}">{{usedCategory.title}}</a>
                                {% endfor %}
                            </p>
                            <a href="{{path('blog', {'blogSlug': blog["blog"].slug})}}" class="btn btn-primary">zu den Rezepten</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
