{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="input-group input-group-lg">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
                    </div>
                    <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="pagerfanta">
                    {{
                        pagerfanta(recipes, 'twitter_bootstrap4', {
                            'omitFirstPage': true,
                            'css_container_class': 'pagination justify-content-center',
                            'prev_message': '&larr; <span class="d-none d-md-inline">Vorherige</span>',
                            'next_message': '<span class="d-none d-md-inline">Nächste</span> &rarr;',
                        })
                    }}
                </div>
            </div>
        </div>
        {% for recipeRow in recipes|batch(4) %}
            <div class="card-deck">
                {% for recipe in recipeRow %}
                    <div class="card my-2">
                        <a href="{{recipe.permalink}}">
                            <img class="card-img-top" src="/images/{{recipe.image}}.jpg" alt="{{recipe.title}}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{recipe.permalink}}">{{recipe.title}}</a>
                            </h5>
                            <p class="card-text">
                                von <a href="{{recipe.blog.url}}">{{recipe.blog.title}}</a>
                            </p>
                            {% if (recipe.categories|length > 0) %}
                                <p class="card-text">
                                    in
                                    {% for recipeCategory in recipe.categories %}
                                        {% if loop.index > 1 %}, {% endif %}<a href="/kategorie/{{recipeCategory.slug}}">{{recipeCategory.title}}</a>
                                    {% endfor %}
                                </p>
                            {% endif %}
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">veröffentlicht am {{recipe.released()|date("d.m.Y")}}</small>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-12">
                <div class="pagerfanta">
                    {{
                        pagerfanta(recipes, 'twitter_bootstrap4', {
                            'omitFirstPage': true,
                            'css_container_class': 'pagination justify-content-center',
                            'prev_message': '&larr; <span class="d-none d-md-inline">Vorherige</span>',
                            'next_message': '<span class="d-none d-md-inline">Nächste</span> &rarr;',
                        })
                    }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
