<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% if pageTitle is defined %} {{ pageTitle }} - {% endif %} FindeVegan</title>
        {% block stylesheets %}
            <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-expand-lg bg-secondary">
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="/images/misc/banner.png" class="d-inline-block align-top" alt="findevegan.de">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{path('latest')}}">Rezeptsuche <span class="sr-only">(aktuell)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{path('blogsStartWithLetter', {'firstLetter': 'a'})}}">Blogs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Bücher</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Über</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Kontakt</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-9">
                    <div class="row mt-3">
                        <div class="col-12">
                            <nav aria-label="breadcrumb" class="w-100">
                                <ol class="breadcrumb">
                                    {% block breadcrumb %}{% endblock %}
                                </ol>
                            </nav>
                        </div>
                    </div>
                    {% block body %}{% endblock %}
                </div>
                <div class="col-12 col-md-3 sidebar">
                    <div class ="statistic text-center">
                        <h4 class="mt-3">Statistik</h4>
                        {{ render(controller('App\\Controller\\RecipeController::statistic')) }}
                    </div>
                    <div class ="termcloud text-center">
                        <h4 class="mt-3">Aktivste Blogs</h4>
                        {{ render(controller('App\\Controller\\BlogController::ranking')) }}
                    </div>
                    <div class ="termcloud text-center">
                        <h4 class="mt-3">Meist gefunden</h4>
                        {{ render(controller('App\\Controller\\RecipeController::termCloud')) }}
                    </div>
                    <div class="weblinks text-center">
                        <h4 class="mt-3">Weblinks</h4>
                        <ul>
                            <li class="m-1">
                                <a class="btn btn-outline-primary" href="https://www.vegpool.de/" target="_blank">Vegpool</a>
                            </li>
                            <li class="m-1">
                                <a class="btn btn-outline-primary" href="http://www.der-weinsnob.de/veganer-wein-liste-supermarkt/" target="_blank">Vegane Weinliste</a>
                            </li>
                            <li class="m-1">
                                <a class="btn btn-outline-primary" href="http://veganguide.org" target="_blank">VeganGuide</a>
                            </li>
                            <li class="m-1">
                                <a class="btn btn-outline-primary" href="http://veggiecommunity.org" target="_blank">VeggieCommunity</a>
                            </li>
                            <li class="m-1">
                                <a class="btn btn-outline-primary" href="http://fragdenveggie.de" target="_blank">Frag' den Veggie</a>
                            </li>
                            <li class="m-1">
                                <a class="btn btn-outline-primary" href="http://foodsharing.de" target="_blank">Foodsharing</a>
                            </li>
                            <li class="m-1">
                                <a class="btn btn-outline-primary" href="http://mundraub.org" target="_blank">Mundraub</a>
                            </li>
                            <li class="m-1">
                                <a class="btn btn-outline-primary" href="http://www.vchangemakers.de/" target="_blank">V Change Makers</a>
                            </li>
                            <li class="m-1">
                                <a class="btn btn-outline-primary" href="http://www.nikolaiweidner.de/" target="_blank">Make a vegan change!</a>
                            </li>
                            <li class="m-1">
                                <a class="btn btn-outline-primary" href="http://www.update50v.de/" target="_blank">update50v</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-secondary">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-3">
                        <h4 class="mt-3">Wir bei Facebook</h4>
                    </div>
                    <div class="col-12 col-md-3">
                        <h4 class="mt-3">Meist gefunden</h4>
                    </div>
                    <div class="col-12 col-md-3">
                        <h4 class="mt-3">Die aktivsten Blogs</h4>
                    </div>
                </div>
            </div>
        </footer>
        {% block javascripts %}
            <script src="/js/jquery/jquery.min.js"></script>
            <script src="/js/bootstrap/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
